# AlgoBulls Assignment

### Import required packages

In [1]:
import numpy as np
import pandas as pd

In [2]:
import requests
class ScriptData:
    
    def __init__(self):
        self.info1 = {}
        self.data1 = {}
        
    def __getitem__(self, script):
        return self.data1[script]
    
    def __setitem__(self, script, df):
        self.data1[script] = df
        
    def __contains__(self, script):
        return script in self.data1.keys()
    
    def fetch_intraday_data(self,script):
        url = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol='+script+'&interval=60min&apikey=1912UMDVJ3T55DBL'
        r = requests.get(url)
        data = r.json()
        self.info1[script] = data['Time Series (60min)']
        
    def convert_intraday_data(self,script):
        df = pd.DataFrame(self.info1[script].values())
        df.columns = ['open', 'high', 'low', 'close', 'volume']
        df['timestamp'] = self.info1[script].keys()
        df = df[['timestamp','open','high','low','close','volume']]
        df['timestamp'] = pd.to_datetime(df['timestamp'])
        df['open'] = df['open'].astype(float)
        df['high'] = df['high'].astype(float)
        df['low'] = df['low'].astype(float)
        df['close'] = df['close'].astype(float)
        df['volume'] = df['volume'].astype(int)
        self.__setitem__(script, df)

In [3]:
script_data = ScriptData()

In [4]:
script_data.fetch_intraday_data('AAPL')

In [5]:
script_data.convert_intraday_data('AAPL')

In [51]:
script_data['AAPL']

             timestamp    open      high     low   close    volume
0  2023-06-14 19:00:00  184.00  184.0001  183.82  183.88     19704
1  2023-06-14 18:00:00  184.06  184.1100  184.00  184.03     23246
2  2023-06-14 17:00:00  184.15  184.1500  183.95  184.05    781306
3  2023-06-14 16:00:00  183.94  184.2500  183.86  184.08   3327983
4  2023-06-14 15:00:00  183.59  184.2050  182.95  183.96  10054258
..                 ...     ...       ...     ...     ...       ...
95 2023-06-07 04:00:00  179.07  179.0700  178.69  178.75     14389
96 2023-06-06 19:00:00  178.92  179.0500  178.90  179.00     30843
97 2023-06-06 18:00:00  179.10  179.1000  178.89  178.90     37185
98 2023-06-06 17:00:00  179.04  179.2100  179.00  179.10     40897
99 2023-06-06 16:00:00  179.16  179.3000  178.93  179.04   1921239

[100 rows x 6 columns]

In [7]:
'AAPL' in script_data

True

In [442]:
script_data.fetch_intraday_data('GOOGL')

In [443]:
script_data.convert_intraday_data('GOOGL')

In [44]:
script_data['GOOGL']

KeyError: 'GOOGL'

In [8]:
'GOOGL' in script_data

False

In [9]:
'NVDA' in script_data

False

In [49]:
def indicator1(df, timeperiod):
    list1 = []
    for i in range(len(df)):
        if i < timeperiod - 1:
            list1.append(None)
        elif i >= timeperiod:
            sum = 0
            for j in range(i-timeperiod, i):
                sum += df['close'][j]
            mean = sum/timeperiod
            list1.append(mean)
    df2 = pd.DataFrame()
    df2['indicator'] = list1
    df2['timestamp'] = df['timestamp']
    df2 = df2[['timestamp','indicator']]
    return df2

In [50]:
indicator1(script_data['AAPL'], 5)

             timestamp  indicator
0  2023-06-14 19:00:00        NaN
1  2023-06-14 18:00:00        NaN
2  2023-06-14 17:00:00        NaN
3  2023-06-14 16:00:00        NaN
4  2023-06-14 15:00:00    184.000
..                 ...        ...
94 2023-06-07 05:00:00    179.225
95 2023-06-07 04:00:00    178.890
96 2023-06-06 19:00:00    178.920
97 2023-06-06 18:00:00    178.888
98 2023-06-06 17:00:00    178.946

[99 rows x 2 columns]

In [237]:
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=GOOGL&interval=60min&apikey=1912UMDVJ3T55DBL'
r = requests.get(url)
data = r.json()
info['GOOGL'] = data['Time Series (60min)']

In [238]:
len(info)

1

In [420]:
#info['GOOGL'].keys()

In [222]:
#info = data['Time Series (60min)']
df = pd.DataFrame(info['GOOGL'].values())
df.columns = ['open', 'high', 'low', 'close', 'volume']

In [223]:
df['timestamp'] = info['GOOGL'].keys()

In [224]:
df = df[['timestamp','open','high','low','close','volume']]

In [225]:
df

              timestamp      open      high       low     close   volume
0   2023-06-13 19:00:00  123.9100  123.9700  123.7900  123.8100    20048
1   2023-06-13 18:00:00  123.9600  124.0000  123.7600  123.9932    14863
2   2023-06-13 17:00:00  123.6700  124.0000  123.6500  123.9500   302709
3   2023-06-13 16:00:00  123.8300  123.8600  122.7000  123.6700   997260
4   2023-06-13 15:00:00  123.4400  123.9200  123.3800  123.8300  3145616
..                  ...       ...       ...       ...       ...      ...
95  2023-06-06 04:00:00  125.9700  126.2200  125.7600  125.8700     6702
96  2023-06-05 19:00:00  126.0500  126.1400  125.8200  126.0000    17678
97  2023-06-05 18:00:00  126.2000  126.2000  126.0100  126.0100    20288
98  2023-06-05 17:00:00  126.1100  126.2000  126.0100  126.1900  1536775
99  2023-06-05 16:00:00  126.0100  126.2200  125.8900  126.0900  1964935

[100 rows x 6 columns]

In [184]:
df['open'] = df['open'].astype(float)
df['high'] = df['high'].astype(float)
df['low'] = df['low'].astype(float)
df['close'] = df['close'].astype(float)
df['volume'] = df['volume'].astype(int)

In [188]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [189]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  100 non-null    datetime64[ns]
 1   open       100 non-null    float64
 2   high       100 non-null    float64
 3   low        100 non-null    float64
 4   close      100 non-null    float64
 5   volume     100 non-null    int32
dtypes: datetime64[ns](1), float64(4), int32(1)
memory usage: 4.4 KB