# AlgoBulls Assignment

### Import required packages

In [1]:
import numpy as np
import pandas as pd

In [2]:
import requests
class ScriptData:
    
    def __init__(self):
        self.info1 = {}
        self.data1 = {}
        
    def __getitem__(self, script):
        return self.data1[script]
    
    def __setitem__(self, script, df):
        self.data1[script] = df
        
    def __contains__(self, script):
        return script in self.data1.keys()
    
    def fetch_intraday_data(self,script):
        url = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol='+script+'&interval=60min&apikey=1912UMDVJ3T55DBL'
        r = requests.get(url)
        data = r.json()
        self.info1[script] = data['Time Series (60min)']
        
    def convert_intraday_data(self,script):
        df = pd.DataFrame(self.info1[script].values())
        df.columns = ['open', 'high', 'low', 'close', 'volume']
        df['timestamp'] = self.info1[script].keys()
        df = df[['timestamp','open','high','low','close','volume']]
        df['timestamp'] = pd.to_datetime(df['timestamp'])
        df['open'] = df['open'].astype(float)
        df['high'] = df['high'].astype(float)
        df['low'] = df['low'].astype(float)
        df['close'] = df['close'].astype(float)
        df['volume'] = df['volume'].astype(int)
        self.__setitem__(script, df)

In [3]:
script_data = ScriptData()

In [4]:
script_data.fetch_intraday_data('AAPL')

In [5]:
script_data.convert_intraday_data('AAPL')

In [6]:
script_data['AAPL']

             timestamp      open    high     low     close   volume
0  2023-06-13 19:00:00  183.2600  183.26  183.05  183.0799    41720
1  2023-06-13 18:00:00  183.2200  183.28  183.20  183.2600    22639
2  2023-06-13 17:00:00  183.2200  183.31  183.20  183.2300    42935
3  2023-06-13 16:00:00  183.3000  183.34  183.17  183.2100  3174829
4  2023-06-13 15:00:00  182.9197  183.38  182.68  183.3200  6555794
..                 ...       ...     ...     ...       ...      ...
95 2023-06-06 04:00:00  179.0500  179.51  178.49  178.8700   112475
96 2023-06-05 19:00:00  179.0700  179.24  179.00  179.1200   155583
97 2023-06-05 18:00:00  180.0000  180.00  179.00  179.1300   171805
98 2023-06-05 17:00:00  179.5200  180.10  179.43  180.0100   190477
99 2023-06-05 16:00:00  179.5800  183.82  179.35  179.5300  2802967

[100 rows x 6 columns]

In [7]:
'AAPL' in script_data

True

In [442]:
script_data.fetch_intraday_data('GOOGL')

In [443]:
script_data.convert_intraday_data('GOOGL')

In [444]:
script_data['GOOGL']

             timestamp    open    high     low     close   volume
0  2023-06-13 19:00:00  123.91  123.97  123.79  123.8100    20048
1  2023-06-13 18:00:00  123.96  124.00  123.76  123.9932    14863
2  2023-06-13 17:00:00  123.67  124.00  123.65  123.9500   302709
3  2023-06-13 16:00:00  123.83  123.86  122.70  123.6700   997260
4  2023-06-13 15:00:00  123.44  123.92  123.38  123.8300  3145616
..                 ...     ...     ...     ...       ...      ...
95 2023-06-06 04:00:00  125.97  126.22  125.76  125.8700     6702
96 2023-06-05 19:00:00  126.05  126.14  125.82  126.0000    17678
97 2023-06-05 18:00:00  126.20  126.20  126.01  126.0100    20288
98 2023-06-05 17:00:00  126.11  126.20  126.01  126.1900  1536775
99 2023-06-05 16:00:00  126.01  126.22  125.89  126.0900  1964935

[100 rows x 6 columns]

In [8]:
'GOOGL' in script_data

False

In [9]:
'NVDA' in script_data

False

In [35]:
def indicator1(df, timeperiod):
    df2 = df[['timestamp','open']]
    #df2['jkh'] = 0
    list1 = []
    for i in range(timeperiod, len(df)):
        sum = 0
        for j in range(i-timeperiod, i):
            sum += df['close'][j]
            mean = sum/timeperiod
            list1.append(mean)
    #print(list1)
    return df2

In [36]:
indicator1(script_data['AAPL'], 5)

C:\Users\Admin\AppData\Local\Temp\ipykernel_10932\2179484908.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['timeperiod'] = mean

             timestamp      open  timeperiod
0  2023-06-13 19:00:00  183.2600      179.07
1  2023-06-13 18:00:00  183.2200      179.07
2  2023-06-13 17:00:00  183.2200      179.07
3  2023-06-13 16:00:00  183.3000      179.07
4  2023-06-13 15:00:00  182.9197      179.07
..                 ...       ...         ...
95 2023-06-06 04:00:00  179.0500      179.07
96 2023-06-05 19:00:00  179.0700      179.07
97 2023-06-05 18:00:00  180.0000      179.07
98 2023-06-05 17:00:00  179.5200      179.07
99 2023-06-05 16:00:00  179.5800      179.07

[100 rows x 3 columns]

In [237]:
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=GOOGL&interval=60min&apikey=1912UMDVJ3T55DBL'
r = requests.get(url)
data = r.json()
info['GOOGL'] = data['Time Series (60min)']

In [238]:
len(info)

1

In [420]:
#info['GOOGL'].keys()

In [222]:
#info = data['Time Series (60min)']
df = pd.DataFrame(info['GOOGL'].values())
df.columns = ['open', 'high', 'low', 'close', 'volume']

In [223]:
df['timestamp'] = info['GOOGL'].keys()

In [224]:
df = df[['timestamp','open','high','low','close','volume']]

In [225]:
df

              timestamp      open      high       low     close   volume
0   2023-06-13 19:00:00  123.9100  123.9700  123.7900  123.8100    20048
1   2023-06-13 18:00:00  123.9600  124.0000  123.7600  123.9932    14863
2   2023-06-13 17:00:00  123.6700  124.0000  123.6500  123.9500   302709
3   2023-06-13 16:00:00  123.8300  123.8600  122.7000  123.6700   997260
4   2023-06-13 15:00:00  123.4400  123.9200  123.3800  123.8300  3145616
..                  ...       ...       ...       ...       ...      ...
95  2023-06-06 04:00:00  125.9700  126.2200  125.7600  125.8700     6702
96  2023-06-05 19:00:00  126.0500  126.1400  125.8200  126.0000    17678
97  2023-06-05 18:00:00  126.2000  126.2000  126.0100  126.0100    20288
98  2023-06-05 17:00:00  126.1100  126.2000  126.0100  126.1900  1536775
99  2023-06-05 16:00:00  126.0100  126.2200  125.8900  126.0900  1964935

[100 rows x 6 columns]

In [184]:
df['open'] = df['open'].astype(float)
df['high'] = df['high'].astype(float)
df['low'] = df['low'].astype(float)
df['close'] = df['close'].astype(float)
df['volume'] = df['volume'].astype(int)

In [188]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [189]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  100 non-null    datetime64[ns]
 1   open       100 non-null    float64
 2   high       100 non-null    float64
 3   low        100 non-null    float64
 4   close      100 non-null    float64
 5   volume     100 non-null    int32
dtypes: datetime64[ns](1), float64(4), int32(1)
memory usage: 4.4 KB